.eventsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.msgEvent{
  text-align: center;
  margin: 40% 0 ;
  font-size: 2rem;
  font-weight: bold;
}

/* Tablet */
@media (max-width: 1024px) {
  .eventsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .eventsGrid {
    grid-template-columns: 1fr;
  }
}
